.wrap {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.label {
  margin-right: 15px;
  min-width: 75px;
  text-align: left;
}

.value {
  min-width: 50px;
  text-align: right;
}

.range {
  width: 150px;
}